.backblock {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  justify-items: center;
}
.backblock > div {
  margin: auto;
}

.backgroundsettings {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 140px;
  height: 140px;

  border: 10px solid white;
  border-radius: 50%;
}
