.playstop {
	display: flex;
	align-items: center;
  justify-content: center;
  position: absolute;
  top: 87vh;
  right: 2vw;
  min-width: 50px;
  min-height: 50px;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  transform: rotate(90deg);
}

