.playstop {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
  position: absolute;
  top: 87vh;
  right: 2vw;
  min-width: 50px;
  min-height: 50px;
  width: 10vh;
  height: 10vh;
  border: none;
  border-radius: 50%;
}
