.panel {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 87vh;
  left: 2vw;

  width: 10vw;
  height: 10vh;
  min-width: 50px;
  min-height: 40px;

  align-items: center;
  justify-content: center;

  background-color: var(--primary);
  color: var(--white);
  border-radius: 5vh;

  opacity: 0;

  transition: min-width 0.5s, align-items 0.5s, top 0.5s, height 0.5s,
    width 0.5s, opacity 0.2s;
}
.panel:hover {
  width: 30vw;
  min-width: 300px;
}
.buttons {
  display: flex;
  align-self: flex-end;
  position: fixed;
  justify-content: space-around;
  width: max-content;
  height: 10vh;
  align-items: center;
  flex: 1 100%;
}

.normal {
  height: 10vh;
  top: 87vh;
}

.info {
  height: 50vh;
  top: 47vh;
}

.active {
  opacity: 1;
}
