:root {
  --primary: black;
  --primary-hover: rgb(149, 55, 55);
  --white: white;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: all 0.5s;
}
