:root {
  --primary: black;
  --primary-hover: rgb(149, 55, 55);
  --white: white;
  --ghost-hover: black;
  --ghost: rgb(149, 55, 55);
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: all 0.5s;
}

@keyframes appear {
  0% {
    oppacity: 0;
  }
  100% {
    oppacity: 1;
  }
}
